*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: var(--navy);
  color: var(--white);
  font-family: var(--fb);
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--fb);
  cursor: pointer;
}

textarea,
input,
select {
  font-family: var(--fb);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 154, 92, 0.25);
  border-radius: 2px;
}
